* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  overflow-x: hidden;
}

header {
  height: 12vh;
  background-color: white;
}

header .logo {
  float: left;
  width: 45vw;
}

header .logo img {
  width: 9vh;
  height: 9vh;
  padding-top: 1.5vh;
  padding-left: 5vw;
  padding-right: 1vw;
  float: left;
}

header .logo div {
  font-size: 6vh;
  line-height: 12vh;
}

header .nav div {
  float: left;
  font-weight: 400;
  text-transform: uppercase;
  color: #064848;
  line-height: 7vh;
  font-size: 2vh;
  width: 10vw;
  text-align: center;
  cursor: pointer;
  height: 7vh;
  margin-top: 2.5vh;
}

header .nav .nav1 {
  background-color: #72B0B0;
}

header .nav div:hover {
  background-color: #E7F6F6;
  transition: 0.7s;
}

section.contactHeader {
  height: 5vh;
  background-color: #064848;
  cursor: pointer;
}

section.contactHeader div {
  color: white;
  font-size: 2vh;
  text-align: center;
  line-height: 5vh;
  font-weight: 700;
  cursor: pointer;
}

main img {
  position: absolute;
  top: 0;
  z-index: -1;
}

main .mainTitle {
  position: absolute;
  text-align: center;
  width: 100vw;
  padding-top: 25vh;
}

main .mainTitle h1 {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 9vh;
  line-height: 11vh;
  letter-spacing: 0.15vw;
  text-shadow: 0.25vw 0.25vw black;
}

section.aboutUs {
  height: 80vh;
  margin-top: 83vh;
  background-color: #E7F6F6;
}

section.aboutUs .text {
  padding-left: 10vw;
  padding-top: 20vh;
  width: 40vw;
}

section.aboutUs .text h1 {
  color: #064848;
  font-size: 5vh;
  padding-bottom: 3vh;
}

section.aboutUs .text p {
  font-size: 3vh;
  color: #064848;
}
