* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  overflow-x: hidden;
}

header {
  z-index: 99;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 12vh;
  background-color: white;
}

header .logo {
  float: left;
  width: 45vw;
  cursor: pointer;
}

header .logo img {
  width: 9vh;
  height: 9vh;
  padding-top: 1.5vh;
  padding-left: 5vw;
  padding-right: 1vw;
  float: left;
}

header .logo div {
  font-size: 6vh;
  line-height: 12vh;
}

header .nav div {
  float: left;
  font-weight: 400;
  text-transform: uppercase;
  color: #064848;
  line-height: 7vh;
  font-size: 2vh;
  width: 10vw;
  text-align: center;
  cursor: pointer;
  height: 7vh;
  margin-top: 2.5vh;
}

header .nav .nav1 {
  background-color: #72B0B0;
}

header .nav div:hover {
  background-color: #E7F6F6;
  transition: 0.7s;
}

section.contactHeader {
  z-index: 99;
  position: fixed;
  top: 12vh;
  width: 100vw;
  height: 5vh;
  background-color: #064848;
  cursor: pointer;
}

section.contactHeader div {
  color: white;
  font-size: 2vh;
  text-align: center;
  line-height: 5vh;
  font-weight: 700;
  cursor: pointer;
}

main {
  position: absolute;
  top: 17vh;
  width: 100vw;
}

main .mainTitle {
  width: 50vw;
  padding-top: 20vh;
  padding-left: 10vw;
  float: left;
}

main .mainTitle h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 5vh;
  line-height: 8vh;
  letter-spacing: 0.15vw;
  padding-bottom: 10vh;
  color: #064848;
}

main .mainTitle p {
  font-size: 4vh;
  line-height: 6vh;
  color: #064848;
}

main img {
  padding-top: 16vh;
}

section.aboutUs {
  position: absolute;
  top: 100vh;
  height: 80vh;
  width: 100vw;
  background-color: #E7F6F6;
}

section.aboutUs .text {
  float: left;
  padding-left: 10vw;
  padding-top: 20vh;
  width: 40vw;
}

section.aboutUs .text h1 {
  color: #064848;
  font-size: 5vh;
  padding-bottom: 3vh;
}

section.aboutUs .text p {
  font-size: 3vh;
  color: #064848;
}

section.aboutUs img {
  padding-top: 15vh;
  padding-left: 10vw;
}

section.service {
  position: absolute;
  top: 180vh;
  width: 100vw;
  height: 110vh;
}

section.service .text {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10vh;
}

section.service h1 {
  text-align: center;
  font-size: 5vh;
  padding-bottom: 6vh;
  color: #064848;
}

section.service footer h1 {
  padding-top: 15vh;
}

section.service .text p {
  font-size: 3vh;
  line-height: 6vh;
  color: #064848;
}

section.contact {
  position: absolute;
  top: 290vh;
  width: 100vw;
  height: 80vh;
  background-color: #E7F6F6;
}
